<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>热血博客</title>
</head>
<body>
<div id="toolbarBox" style="min-height: 48px">
    <div id="toolbar" style="position: relative ; min-width: 100%; width: max-content; top: 0; left: 0;">
        <div class="toolbar-inside">
            <div class="toolbar-inside-left">
                <a>第一</a>
            </div>
            <div class="toolbar-inside-middle">
                <a>第二</a>
            </div>
            <div class="toolbar-inside-right">
                <a>第三</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
